<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<thead>
					<th>Certification Description</th>
					<th>Certification Name</th>
					<th>Year</th>
					<th>Image</th>
				</thead>
				<tbody>
					<tr *ngFor="let certification of restItems">
						<td>{{certification.name}}</td>
						<td>{{certification.description}}</td>
						<td>{{certification.year}}</td>
						<td>{{certification.imagePath}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
